@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  background: linear-gradient(50deg, rgba(0, 0, 0, 1) 0%, rgba(23, 23, 23, 1) 83%, rgba(34, 34, 34, 1) 100%);
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-tertiaty: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
